In [31]:
import pandas as pd
import numpy
import json


file_mode = "../data/ACTU_STOPS_0.csv"
file_trips = "../data/gtfs3Sept/trips.csv"
file_routes = "../data/gtfs3Sept/routes.csv"
file_stop_times = "../data/gtfs3Sept/stop_times.csv"
file_stops = "../data/gtfs3Sept/stops.csv"
file_calendar = "../data/gtfs3Sept/calendar.csv"

In [32]:
# df_stops = pd.read_csv(file_stops)

In [33]:
"""
creation of the metro trips dataset
"""
df_mode = pd.read_csv(file_mode)
df_trips = pd.read_csv(file_trips)
df_routes = pd.read_csv(file_routes)

df_mode_metro = df_mode[df_mode["mode"]=="M"]
df_metro_id_str= df_mode_metro.numero_lig.astype(str)
df_routes_metro = df_routes[df_routes.route_short_name.isin(df_metro_id_str)]

df_metro_trips = df_trips[df_trips.route_id.isin(df_routes_metro.route_id)]
df_metro_trips = df_metro_trips.drop(["trip_headsign", "block_id", "shape_id"], axis=1)

print(df_metro_trips)

       route_id  service_id             trip_id  direction_id
80299         1   234578052  112585711234578052             1
80300         1   234578052  112585712234578052             1
80301         1   234578052  112585714234578052             0
80302         1   234578052  112585715234578052             0
80303         1   234578052  112585717234578052             1
...         ...         ...                 ...           ...
88833         1   237269601  113423843237269601             1
88834         1   237269601  113423845237269601             0
88835         1   237269601  113423847237269601             1
88836         1   237269601  113423849237269601             0
88837         1   237269601  113423851237269601             1

[8539 rows x 4 columns]

In [34]:
"""
filtering the calendar dataset in week, saturday, sunday
"""
df_calendar = pd.read_csv(file_calendar)
df_calendar["week"] = df_calendar['monday']*df_calendar['tuesday']*df_calendar['wednesday']*df_calendar['thursday']*df_calendar['friday']
df_calendar.drop(['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'start_date', 'end_date'], inplace=True, axis=1)

print(df_calendar)

     service_id  saturday  sunday  week
0     234578052         0       0     1
1     236986502         1       0     0
2     236988602         0       1     0
3     236270000         0       0     1
4     236269500         1       0     0
..          ...       ...     ...   ...
432   237102501         1       0     0
433   237472602         0       1     0
434   237451600         0       1     0
435   238036502         1       0     0
436   238255501         1       0     0

[437 rows x 4 columns]

In [35]:
"""
joining calendar and metro trip
"""
df_metro_trip_calendar = pd.merge(df_metro_trips, df_calendar, on="service_id")
print(df_metro_trip_calendar)

      route_id  service_id             trip_id  direction_id  saturday  \
0            1   234578052  112585711234578052             1         0
1            1   234578052  112585712234578052             1         0
2            1   234578052  112585714234578052             0         0
3            1   234578052  112585715234578052             0         0
4            1   234578052  112585717234578052             1         0
...        ...         ...                 ...           ...       ...
8534         1   237269601  113423843237269601             1         0
8535         1   237269601  113423845237269601             0         0
8536         1   237269601  113423847237269601             1         0
8537         1   237269601  113423849237269601             0         0
8538         1   237269601  113423851237269601             1         0

      sunday  week
0          0     1
1          0     1
2          0     1
3          0     1
4          0     1
...      ...   ...
8534       1     0
8535       1     0
8536       1     0
8537       1     0
8538       1     0

[8539 rows x 7 columns]

In [36]:
"""
merging stop_times and metro_trip_calendar
"""
df_stop_times = pd.read_csv(file_stop_times)
df_stop_times.drop(["pickup_type", "drop_off_type"], inplace=True, axis=1)
df_metro_time = pd.merge(df_metro_trip_calendar, df_stop_times, on="trip_id")
print(df_metro_time )

        route_id  service_id             trip_id  direction_id  saturday  \
0              1   234578052  112585711234578052             1         0
1              1   234578052  112585711234578052             1         0
2              1   234578052  112585711234578052             1         0
3              1   234578052  112585711234578052             1         0
4              1   234578052  112585711234578052             1         0
...          ...         ...                 ...           ...       ...
199764         1   237269601  113423851237269601             1         0
199765         1   237269601  113423851237269601             1         0
199766         1   237269601  113423851237269601             1         0
199767         1   237269601  113423851237269601             1         0
199768         1   237269601  113423851237269601             1         0

        sunday  week arrival_time departure_time stop_id  stop_sequence
0            0     1     05:09:23       05:09:23    8743              1
1            0     1     05:10:23       05:10:23    8731              2
2            0     1     05:11:49       05:11:49    8721              3
3            0     1     05:13:27       05:13:27    8711              4
4            0     1     05:15:12       05:15:12    8701              5
...        ...   ...          ...            ...     ...            ...
199764       1     0     23:21:20       23:21:20    8681             24
199765       1     0     23:22:26       23:22:26    8671             25
199766       1     0     23:23:39       23:23:39    8661             26
199767       1     0     23:24:56       23:24:56    8651             27
199768       1     0     23:26:58       23:26:58    8641             28

[199769 rows x 11 columns]

In [37]:
print(df_metro_time.stop_id.unique())
print(len(df_metro_time.stop_id.unique()))

['8743' '8731' '8721' '8711' '8701' '8691' '8681' '8671' '8661' '8651'
 '8642' '8641' '8652' '8662' '8672' '8682' '8692' '8702' '8712' '8722'
 '8732' '8742' '8292' '8282' '8272' '8012' '8022' '8032' '8042' '8052'
 '8062' '8072' '8202' '8212' '8222' '8232' '8242' '8252' '8262' '8231'
 '8221' '8211' '8201' '8071' '8061' '8051' '8041' '8031' '8021' '8011'
 '8271' '8281' '8291' '8741' '8251' '8241' '8261' '8161' '8151' '8141'
 '8131' '8121' '8111' '8101' '8091' '8081' '8162' '8733' '8082' '8092'
 '8102' '8112' '8122' '8132' '8142' '8152' '8471' '8461' '8441' '8431'
 '8421' '8411' '8401' '8301' '8311' '8321' '8331' '8341' '8351' '8361'
 '8371' '8381' '8753' '8763' '8773' '8783' '8793' '8803' '8813' '8823'
 '8834' '8833' '8824' '8814' '8804' '8794' '8784' '8774' '8764' '8754'
 '8744' '8382' '8372' '8362' '8352' '8342' '8332' '8322' '8312' '8302'
 '8402' '8412' '8422' '8432' '8442' '8462' '8472']
127

In [57]:

def time_to_sec(time:str):
    time = time.split(":")
    hours, minutes, seconds = int(time[0]), int(time[1]), int(time[2])
    return hours*60*60+minutes*60+seconds


temp = []
for i in range(len(df_metro_time)):
    if df_metro_time.stop_id[i] == "8743" and df_metro_time.direction_id[i] == 1 and df_metro_time.week[i] == 1:
        temp.append(df_metro_time.arrival_time[i])
temp.sort()
print(temp)

['05:09:23', '05:25:27', '05:29:00', '05:33:36', '05:35:00', '05:37:36', '05:37:41', '05:41:28', '05:46:04', '05:47:20', '05:53:36', '05:53:36', '05:58:37', '06:00:01', '06:03:39', '06:09:01', '06:09:59', '06:16:19', '06:19:01', '06:22:39', '06:23:24', '06:28:24', '06:28:50', '06:31:54', '06:32:18', '06:34:48', '06:35:04', '06:37:18', '06:41:24', '06:41:34', '06:44:04', '06:44:34', '06:47:44', '06:49:09', '06:50:54', '06:54:04', '06:54:04', '06:57:14', '06:57:14', '07:00:24', '07:00:24', '07:03:34', '07:03:34', '07:06:44', '07:06:44', '07:09:54', '07:09:54', '07:13:04', '07:13:04', '07:16:14', '07:16:14', '07:19:24', '07:19:24', '07:22:34', '07:22:34', '07:25:44', '07:25:44', '07:28:54', '07:28:54', '07:32:04', '07:32:04', '07:35:14', '07:35:14', '07:38:24', '07:38:24', '07:41:34', '07:41:34', '07:44:44', '07:44:44', '07:47:54', '07:47:54', '07:51:04', '07:51:04', '07:54:14', '07:54:14', '07:57:24', '07:57:24', '08:00:34', '08:00:34', '08:03:44', '08:03:44', '08:06:54', '08:06:54', '08:10:04', '08:10:04', '08:13:14', '08:13:14', '08:16:24', '08:16:24', '08:19:34', '08:19:34', '08:22:44', '08:22:44', '08:25:54', '08:25:54', '08:29:04', '08:29:04', '08:32:14', '08:32:14', '08:35:24', '08:35:24', '08:38:34', '08:38:34', '08:41:44', '08:41:44', '08:44:54', '08:44:54', '08:48:04', '08:48:04', '08:51:14', '08:51:14', '08:54:24', '08:54:24', '08:57:34', '08:57:34', '09:00:44', '09:00:44', '09:03:54', '09:03:54', '09:07:04', '09:07:04', '09:10:14', '09:10:14', '09:13:24', '09:13:24', '09:16:34', '09:16:34', '09:19:44', '09:19:44', '09:22:54', '09:22:54', '09:26:04', '09:26:04', '09:29:14', '09:29:14', '09:32:24', '09:32:24', '09:35:34', '09:35:36', '09:38:44', '09:38:47', '09:41:54', '09:41:56', '09:45:02', '09:45:04', '09:48:09', '09:48:14', '09:51:17', '09:51:24', '09:54:27', '09:54:34', '09:57:37', '09:57:44', '10:00:47', '10:00:54', '10:03:57', '10:04:04', '10:07:07', '10:07:14', '10:10:17', '10:10:24', '10:13:27', '10:13:34', '10:16:37', '10:16:44', '10:19:47', '10:19:54', '10:22:57', '10:23:04', '10:26:07', '10:26:14', '10:29:17', '10:29:25', '10:32:43', '10:32:58', '10:36:28', '10:36:28', '10:40:13', '10:40:13', '10:43:58', '10:43:58', '10:47:43', '10:47:43', '10:51:28', '10:51:28', '10:55:13', '10:55:13', '10:58:58', '10:58:58', '11:02:43', '11:02:43', '11:06:28', '11:06:28', '11:10:13', '11:10:13', '11:13:58', '11:13:58', '11:17:43', '11:17:43', '11:21:28', '11:21:28', '11:25:13', '11:25:13', '11:28:58', '11:28:58', '11:32:43', '11:32:43', '11:36:28', '11:36:28', '11:40:13', '11:40:13', '11:43:58', '11:43:58', '11:47:43', '11:47:43', '11:51:28', '11:51:28', '11:55:13', '11:55:13', '11:58:58', '11:58:58', '12:02:43', '12:02:43', '12:06:28', '12:06:28', '12:10:13', '12:10:13', '12:13:58', '12:13:58', '12:17:43', '12:17:43', '12:21:28', '12:21:28', '12:25:13', '12:25:13', '12:28:58', '12:28:58', '12:32:43', '12:32:43', '12:36:28', '12:36:28', '12:40:13', '12:40:13', '12:43:58', '12:43:58', '12:47:43', '12:47:43', '12:51:28', '12:51:28', '12:55:13', '12:55:13', '12:58:58', '12:58:58', '13:02:43', '13:02:43', '13:06:28', '13:06:28', '13:10:13', '13:10:13', '13:13:58', '13:13:58', '13:17:43', '13:17:43', '13:21:28', '13:21:28', '13:25:13', '13:25:13', '13:28:58', '13:28:58', '13:32:43', '13:32:43', '13:36:28', '13:36:28', '13:40:13', '13:40:13', '13:43:58', '13:43:58', '13:47:43', '13:47:43', '13:51:28', '13:51:28', '13:55:13', '13:55:13', '13:58:58', '13:58:58', '14:02:43', '14:02:43', '14:06:28', '14:06:28', '14:10:13', '14:10:13', '14:13:58', '14:13:58', '14:17:43', '14:17:43', '14:21:28', '14:21:28', '14:25:13', '14:25:13', '14:28:58', '14:28:58', '14:32:43', '14:32:43', '14:36:28', '14:36:28', '14:40:13', '14:40:13', '14:43:58', '14:43:58', '14:47:43', '14:47:43', '14:49:28', '14:49:28', '14:51:28', '14:51:28', '14:55:13', '14:55:13', '14:58:58', '14:58:58', '15:02:43', '15:02:43', '15:06:28', '15:06:28', '15:10:13', '15:10:13', '15:13:58', '15:13:58', '15:17:43', '15:17:43', '15:21:28', '15:21:28', '15:25:03', '15:25:03', '15:28:13', '15:28:13', '15:31:20', '15:31:20', '15:34:30', '15:34:30', '15:37:40', '15:37:40', '15:40:48', '15:40:48', '15:44:00', '15:44:00', '15:47:10', '15:47:10', '15:50:20', '15:50:20', '15:53:30', '15:53:30', '15:56:40', '15:56:40', '15:59:50', '15:59:50', '16:03:00', '16:03:00', '16:06:10', '16:06:10', '16:09:20', '16:09:20', '16:12:30', '16:12:30', '16:15:40', '16:15:40', '16:18:50', '16:18:50', '16:22:00', '16:22:00', '16:25:10', '16:25:10', '16:28:20', '16:28:20', '16:31:30', '16:31:30', '16:34:40', '16:34:40', '16:37:50', '16:37:50', '16:41:00', '16:41:00', '16:44:10', '16:44:10', '16:47:20', '16:47:20', '16:50:30', '16:50:30', '16:53:40', '16:53:40', '16:56:50', '16:56:50', '17:00:00', '17:00:00', '17:03:10', '17:03:10', '17:06:20', '17:06:20', '17:09:30', '17:09:30', '17:12:40', '17:12:40', '17:15:50', '17:15:50', '17:19:00', '17:19:00', '17:22:10', '17:22:10', '17:25:20', '17:25:20', '17:28:30', '17:28:30', '17:31:40', '17:31:40', '17:34:50', '17:34:50', '17:38:00', '17:38:00', '17:41:10', '17:41:10', '17:44:20', '17:44:20', '17:47:30', '17:47:30', '17:50:40', '17:50:40', '17:53:50', '17:53:50', '17:57:00', '17:57:00', '18:00:10', '18:00:10', '18:03:20', '18:03:20', '18:06:30', '18:06:30', '18:09:40', '18:09:40', '18:12:50', '18:12:50', '18:16:00', '18:16:00', '18:19:10', '18:19:10', '18:22:20', '18:22:20', '18:25:30', '18:25:30', '18:28:40', '18:28:40', '18:31:50', '18:31:50', '18:35:00', '18:35:00', '18:38:10', '18:38:10', '18:41:20', '18:41:20', '18:44:30', '18:44:30', '18:47:40', '18:47:40', '18:50:50', '18:50:50', '18:54:00', '18:54:00', '18:57:10', '18:57:10', '19:00:20', '19:00:20', '19:03:30', '19:03:30', '19:06:40', '19:06:40', '19:09:50', '19:09:50', '19:13:00', '19:13:00', '19:16:10', '19:16:10', '19:19:20', '19:19:20', '19:22:30', '19:22:30', '19:25:40', '19:25:40', '19:28:50', '19:28:50', '19:32:06', '19:32:06', '19:35:16', '19:35:16', '19:38:26', '19:38:26', '19:41:36', '19:41:36', '19:44:46', '19:44:46', '19:47:56', '19:47:56', '19:51:06', '19:51:06', '19:54:16', '19:54:16', '19:57:26', '19:57:26', '20:00:36', '20:01:14', '20:04:54', '20:05:26', '20:09:11', '20:09:37', '20:14:11', '20:14:11', '20:19:11', '20:19:11', '20:24:11', '20:24:11', '20:29:11', '20:29:11', '20:34:11', '20:34:11', '20:39:11', '20:39:11', '20:44:11', '20:44:11', '20:49:11', '20:49:11', '20:54:11', '20:54:11', '20:59:11', '20:59:11', '21:04:11', '21:04:11', '21:09:11', '21:09:11', '21:14:11', '21:14:11', '21:19:11', '21:19:11', '21:24:11', '21:24:11', '21:29:11', '21:29:11', '21:34:11', '21:34:11', '21:39:11', '21:39:11', '21:44:11', '21:44:11', '21:49:11', '21:49:11', '21:54:11', '21:54:11', '21:59:11', '21:59:11', '22:04:11', '22:04:11', '22:09:11', '22:09:11', '22:14:11', '22:14:11', '22:19:11', '22:19:11', '22:24:11', '22:24:11', '22:29:11', '22:29:11', '22:34:11', '22:34:11', '22:39:11', '22:39:11', '22:44:11', '22:44:11', '22:49:11', '22:49:11', '22:54:11', '22:54:11', '22:59:11', '22:59:11', '23:04:11', '23:04:11', '23:09:11', '23:09:11', '23:14:11', '23:14:11', '23:19:11', '23:19:11', '23:24:11', '23:24:11', '23:29:11', '23:29:11', '23:34:11', '23:34:11', '23:39:11', '23:44:11', '23:44:11', '23:54:11', '23:54:11', '24:04:11', '24:04:11', '24:14:11', '24:14:11', '24:24:11', '24:24:11', '24:34:01', '24:34:11', '24:39:01', '24:39:11']

In [49]:
import datetime