In [3]:
import pandas as pd

In [5]:
routes_data = pd.read_csv('../../data/gtfs3Sept/routes.csv')
trips_data = pd.read_csv('../../data/gtfs3Sept/trips.csv')
stop_times_data = pd.read_csv('../../data/gtfs3Sept/stop_times.csv')
calendar_data = pd.read_csv('../../data/gtfs3Sept/calendar.csv')

In [27]:
trips_routes_merge = pd.merge(trips_data, routes_data, on='route_id')
trips_routes_calendar = pd.merge(trips_routes_merge, calendar_data, on='service_id')
trips_routes_calender_stops = pd.merge(stop_times_data, trips_routes_calendar, on='trip_id')

trips_routes_calender_stops = trips_routes_calender_stops.loc[trips_routes_calender_stops['route_type'] == 0]
trips_routes_calender_stops.drop(['route_long_name','route_id', 'route_color','route_text_color', 'shape_id','end_date', 'tuesday', 'wednesday', 'thursday', 'friday', 'block_id','pickup_type', 'drop_off_type', 'stop_sequence', 'departure_time'], inplace=True, axis=1)

In [28]:
trips_routes_calender_stops.to_csv("FinalDF.csv", index=False)

In [50]:
df=pd.read_csv("../../data/FinalDF.csv")

In [32]:
df.columns

Index(['trip_id', 'arrival_time', 'stop_id', 'service_id', 'trip_headsign',
       'direction_id', 'route_short_name', 'route_type', 'monday', 'saturday',
       'sunday', 'start_date'],
      dtype='object')

In [52]:
df = df.groupby(['trip_id','stop_id']).mean().reset_index()

C:\Users\takira\AppData\Local\Temp\ipykernel_128\1039206630.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby(['trip_id','stop_id']).mean().reset_index()

In [46]:
df = df.groupby(['trip_id', 'stop_id'], as_index=False)

0         05:35:00
1         05:38:00
2         05:39:29
3         05:40:44
4         05:42:00
            ...
910571    07:29:00
910572    07:30:00
910573    07:31:35
910574    07:33:00
910575    07:34:00
Name: arrival_time, Length: 910576, dtype: object

In [22]:
trips_routes_calender_stops.groupby(['trip_id','stop_id'], as_index=False).count()

,trip_id,stop_id,arrival_time,service_id,trip_headsign,direction_id,route_short_name,route_type,monday,saturday,sunday,start_date
0,112360041233813600,0089,1,1,1,1,1,1,1,1,1,1
1,112360041233813600,5281G,1,1,1,1,1,1,1,1,1,1
2,112360041233813600,5501,1,1,1,1,1,1,1,1,1,1
3,112360041233813600,5502,1,1,1,1,1,1,1,1,1,1
4,112360041233813600,5503,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
910571,113495067238097001,6165,1,1,1,1,1,1,1,1,1,1
910572,113495067238097001,6166,1,1,1,1,1,1,1,1,1,1
910573,113495067238097001,6175,1,1,1,1,1,1,1,1,1,1
910574,113495067238097001,6425F,1,1,1,1,1,1,1,1,1,1
910575,113495067238097001,6462F,1,1,1,1,1,1,1,1,1,1

In [19]:
len(df..unique())

16

In [20]:
def time_to_sec(time:str):
    time = time.split(":")
    hours, minutes, seconds = int(time[0]), int(time[1]), int(time[2])
    return hours*60*60+minutes*60+seconds